`
<div class="modal-header">
  <h1 class="modal-title">{{cartData.userName}} cart</h1>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ">
  <div class="productHolder" *ngFor="let prod of products">
    <h3 class="prodname" [ngStyle]="{display: 'inline-block'}">
      {{prod.name}}
    </h3>
    <h4 class="prodprice" [ngStyle]="{float: 'right'}">{{prod.price}}$</h4>
  </div>
</div>
<div class="modal-footer">
  <h2>Total: <strong>{{sum}}</strong></h2>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
`
