`
<div class="modal-header">
  <h1 class="modal-title">{{cartData.userName}} cart</h1>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ">
  <div class="productHolder" *ngFor="let cart of cartProds | async">
    <h3 class="prodname" [ngStyle]="{display: 'inline-block'}">
      {{cart.name}}
    </h3>
    <a class="remove" (click)="removeFromCart(prod._id)">Remove</a>
    <h4 class="prodprice">
      <strong>{{cart.price}}$</strong>
    </h4>
  </div>
</div>
<div class="modal-footer">
  <h2 class="total">Total: <strong>{{total}}$</strong></h2>
  <button class="checkout"><strong>Checkout</strong></button>
</div>
`
