.modalLauncher {
  background-image: url("https://i.imgur.com/Ukb4Xab.png");
}
.productHolder {
  border-bottom: solid 1px black;
}
h3 {
  display: inline-block;
}
.prodprice {
  display: inline-block;
  float: right;
}
.xbtn {
  background: url("http://i.imgur.com/iPGpK2u.png");
  float: right;
}
.remove {
  margin-left: 4%;
  /* text-decoration-color: blue; */
  color: blue;
}
.total {
  float: right;
  display: block;
}

.checkout {
  border: coral 1px solid;
  border-radius: 34px;
  width: 20%;
  height: 39px;
  background-color: black;
  color: WHEAT;
}
.checkout:hover {
  background-color: rgb(194, 152, 137);
}
