.modalLauncher {
  background-image: url("https://i.imgur.com/Ukb4Xab.png");
}
.productHolder {
  border-bottom: solid 1px black;
}
h3 {
  display: inline-block;
}
.prodprice {
  display: inline-block;
  float: right;
}
.xbtn {
  background: url("http://i.imgur.com/iPGpK2u.png");
  float: right;
}
.remove {
  margin-left: 4%;
  /* text-decoration-color: blue; */
  color: blue;
}
