<form
  action=""
  class="cform"
  [formGroup]="form"
  (ngSubmit)="handleSubmit(form.value)"
  *ngIf="showForm"
>
  <mat-form-field class="emailPassword">
    <input
      matInput
      placeholder="Cards number"
      formControlName="number"
      required
      number
      minlength="16"
      maxlength="16"
    />
    <mat-error *ngIf="number.invalid">{{ getErrorMessage() }}</mat-error>
    <mat-error *ngIf="number.errors.minlength"
      >Number must be 16 digital numbers.</mat-error
    >
  </mat-form-field>

  <div class="exp">
    <mat-form-field class="month">
      <mat-label>Month</mat-label>
      <mat-select formControlName="expMonth">
        <mat-option *ngFor="let mon of monthes" [value]="mon.num">
          {{ mon.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="month">
      <mat-label>Year</mat-label>
      <mat-select formControlName="expYear">
        <mat-option *ngFor="let year of yearsList" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="namesHolder">
    <input
      type="text"
      aria-label="First name"
      id="fname"
      class="form-control"
      placeholder="First name"
      formControlName="ownerF_name"
    />
    <input
      type="text"
      aria-label="Last name"
      id="lname"
      class="form-control"
      placeholder="Last name"
      formControlName="ownerL_name"
    />
  </div>
  <input
    class="form-control"
    id="cvc"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-sm"
    placeholder="CVV"
    maxlength="3"
    formControlName="cvv"
  />

  <button class="glow-on-hover" type="submit">Check-out</button>
  <ngb-alert [dismissible]="false" *ngIf="showAlert" class="alert">
    <strong>{{ error }}</strong>
  </ngb-alert>
</form>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<app-second-payment></app-second-payment>
