.userContain {
  float: right;
}
.userPage {
  margin-right: 5%;
  display: block;
}
.hello {
  display: block;
}
.logout {
}
.goToAdmin {
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  border-radius: 24px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.goToAdmin:hover {
  background-color: #e0ae19;
}
.goToAdmin:active {
  position: relative;
  top: 1px;
}
.goToUser {
  box-shadow: inset 0px 39px 0px -24px #dee673;
  background-color: #ebdc34;
  border-radius: 24px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.goToUser:hover {
  background-color: #e0ae19;
}
.goToUser:active {
  position: relative;
  top: 1px;
}
